/**
 * 按钮容器
 */
.button {
  padding-left: 10px;
  background: #fff;
  .btn {
    margin: 10px 10px;
  }
}
/**
 * 按钮默认样式
 */
.bp-btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
  &:hover {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}
.bp-btn-default[disabled] {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
  &:hover {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
  }
}
/**
 * 祖母绿的按钮
 */
.bp-btn-primary {
  color: #ffffff;
  background-color: #06c5ac;
  border-color: #06c5ac;
  &:hover {
    color: #ffffff;
    background-color: #049481;
    border-color: #037163;
  }
}
.bp-btn-primary[disabled] {
  color: #ffffff;
  background-color: #06c5ac;
  border-color: #05ac96;
  &:hover {
    color: #ffffff;
    background-color: #06c5ac;
    border-color: #05ac96;
  }
}
/**
 * 红色的按钮
 */
.bp-btn-danger {
  color: #ffffff;
  background-color: #d57d6d;
  border-color: #d57d6d;
  &:hover {
    color: #ffffff;
    background-color: #ca5a45;
    border-color: #b74935;
  }
}
.bp-btn-danger[disabled] {
  color: #ffffff;
  background-color: #d57d6d;
  border-color: #cf6b59;
  &:hover {
    color: #ffffff;
    background-color: #d57d6d;
    border-color: #cf6b59;
  }
}
  
  