/**
 * 公共区, 比如body的背景色 等一些通用(无法归类的)样式都在这里, 如果能归类请尽到各自类型的文件里添加
 *
 */

html, body{
  font-family: @font-family-base;
}
 
// 表单必填星号的红色
.required-star{color: red;}


// 主要内容容器, 主要内容容器是指, 在menu右侧, page-title下方的容器
.conter-wrapper{
  padding: 15px;
}