// 联想输入，背景颜色改变
.dropdown-menu {
  .active {
    a {
      background-image: none;
      background-color: @primary-color;
      &:hover {
        background-image: none;
        background-color: @primary-color;
      }
      &:focus {
        background-image: none;    
        background-color: @primary-color;      
      }
    }
  }
}