/**
 * 页头
 * @author fengpeng
 */
 
 // 页头容器
 .page-title{
   background: @page-title-bg-color;
   border-bottom: solid 1px @page-title-border-color;
   padding: 15px;
   color: @page-title-font-color;
   // 标题
   h1{
     font-size: 18px;
     margin: 0;
   }
   .subtitle{
     font-size: 85%;
     opacity: .5;
     margin: 5px 0 0 0;
   }
 }